body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f395e7;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 24px;
}

.filter, .sort {
    margin: 10px 0;
}

#filterInput {
    padding: 5px;
    margin-right: 10px;
}

button {
    padding: 5px 10px;
    background-color: #e27dc4;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #f843bc;
}

select {
    padding: 5px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
    background-color: #adddf8;
    border-radius: 10px; 
}

img {
    max-width: 100px;
    max-height: 100px;
    margin: 10px auto;
}

